.square4{
    height: 20vh;
    width: 48.5%;
    background-color: green;
    text-align: center;
    font-family: "Comic Sans MS", serif;
    font-size: xxx-large;
    position: absolute;
    bottom: 1vh;
    right: 1vw;
}